@media only screen and (min-width: 980px) {
	.container {
		width: 100%;
		margin: 0;
		padding: 0;
	}
	.sidebar {
	  	padding-top: 15px;
	  	background-color: #fff;
	  	border: 1px solid #d5d5d5;
		padding-left: 15px;
		padding-right: 15px;
		margin-left: -15px;
		margin-right: -15px;
		margin-bottom: 10px;
	}
}

@media only screen and (max-width: 980px) {
	.sidebar {
		margin-right: 0px;
	}
	.video-image {
		margin-bottom: 10px;
	}
	.widgets img {
		margin-right: 10px;
	}
	
}
@media only screen and ( min-width: 1280px ) {
	.container-fluid {
		width: 1170px;
	}
	.sidebar {
		margin-right: 0px;
	}
	.video-image {
		margin-bottom: 10px;
	}
	.widgets img {
		width: 120px;
		height: 90px;
		margin-right: 10px;
	}
}

@media only screen and (max-width: 800px) {
    .video-info {
      width: 47%;
    }
    .video-info h2 {
      font-size: 18px;
    }
    .widgets img {
		width: 100%;
		height: auto;
	}
	.widgets h4 {
		width: 100%;
		margin: 0;
	}
}

@media only screen and (max-width: 360px) {
	.detail h1 {
		font-size: 16px;
	}
	.video-thumbnai {
		width: 100%
	}
	.video-info {
		width: 100%
	}
	.no-padding {
		padding-left: 0;
		padding-right: 0;
	}
	.container {
		width: 100%;
		margin: 0;
		padding: 0;
	}
	.video-image {
		margin-bottom: 10px;
	}
	.widgets img {
		width: 120px;
		height: 90px;
		margin-right: 10px;
	}
	.sidebar {
		margin-right: -15px;
	}
	.video-info.detail, .description {
		padding: 10px 0 10px 0;
	}
	.detail h1, .user-info, .video-action, .description h5, .description .description-text {
		margin-left: 10px;
		margin-right: 10px;
	}
	.description h5 {
		font-size: 12px;
	}
	.count-viewed {
		right: 20px;
	}
	.vote {
		right: 25px;
	}
}